<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/main_job" %>
  <div class="jobs-contents">
    <%= render "shared/left_contents" %>
    <div class="bg-light d-flex justify-content-center align-items-center w-50" style="height:500px;">
      <%= "『詳しく見る』をクリックしてね!" %>
    </div>
  </div>
</div>