<%= render "shared/header" %>

<div class="wrapper">
  <%= render "shared/main_job" %>
  <div class="jobs-contents">
    <%= render "shared/left_contents" %>
    <%= render "shared/right_contents" %>
  </div>
</div>