<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-md-end">
    <button class="btn btn-outline-success me-2" type="button">
      <%= link_to 'ログイン', new_agency_session_path, class: "login" %>
    </button>
    <button class="btn btn-outline-success me-2" type="button">
      <%= link_to 'agency登録', new_agency_registration_path, class: "sign_up" %>
    </button>
  </form>
</nav>