<nav class="navbar navbar-light bg-light">
  <form class="container-fluid justify-content-md-end">
    <button class="btn btn-outline-success me-2" type="button">ログイン</button>
    <button class="btn btn-outline-success me-2" type="button">agency登録</button>
  </form>
</nav>