<%# 画面上部の「派遣に特化した求人SNS」帯部分 %>
<div class='title-contents'>
  <h2 class='service-title'>
    派遣に特化した<br>求人SNS
  </h2>
  <p class='service-explain'>
    自分に合った天職を。<br>
    Amatsuは、誰でも天職を探せる求人SNSです。
  </p>
</div>
<%# /画面上部の「派遣に特化した求人SNS」帯部分  %>

<div class="jobs-contents">
  <%# jobs一覧ページ %>
  <div class="left-contents">
    <div>
      <%# アイコン(Bootstrap使用中) %>
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-app" viewBox="0 0 16 16">
        <path d="M11 2a3 3 0 0 1 3 3v6a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V5a3 3 0 0 1 3-3h6zM5 1a4 4 0 0 0-4 4v6a4 4 0 0 0 4 4h6a4 4 0 0 0 4-4V5a4 4 0 0 0-4-4H5z"/>
      </svg>

      <div>
      </div>

      <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-outline-success rounded-circle position-fixed bottom-0 end-50 p-4">
      <%= link_to '出稿', new_job_path, class: "text-reset text-decoration-none" %>
    </button>
  </div>
  <%# jobs一覧ページ %>

  <%# jobs詳細ページ %>
  <div class= "right-contents">
  </div>
  <%# jobs詳細ページ %>
</div>