<%# 画面上部の「派遣に特化した求人SNS」帯部分 %>
<div class='title-contents'>
  <h2 class='service-title'>
    派遣に特化した<br>求人SNS
  </h2>
  <p class='service-explain'>
    自分に合った天職を。<br>
    Amatsuは、誰でも天職を探せる求人SNSです。
  </p>
</div>
<%# /画面上部の「派遣に特化した求人SNS」帯部分  %>