<%# 画面上部の「派遣に特化した求人SNS」帯部分 %>
<div class='card text-white' style="text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);">
  <img src="../../../assets/amatsu-header01.jpg" class="img-fluid" alt="amatsu-header01">
  <div class="card-img-overlay p-4 m-4">
    <h1 class="display-1">
      派遣に特化した<br>求人SNS
    </h1>
    <p class="h2 pt-4">
      自分に合った天職を。<br>
      Amatsuは、誰でも天職を探せる求人SNSです。
    </p>
  </div>
</div>
<%# /画面上部の「派遣に特化した求人SNS」帯部分  %>